@model Assignment_03Project.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<div class="div">
    <h1>@Model.teacherfname @Model.teacherlname</h1>
    <p><strong>Employee Number:</strong>  @Model.employeenumber</p>
    <p><strong>Hire Date:</strong>  @Model.hiredate</p>
    <p><strong>Salary:</strong>  @Model.salary</p>
    <p><strong>Subject:</strong></p>
</div>




